* {    
    margin: 0 !important;
    padding: 0 !important;
}
h1{
    color: white;
    text-align: center;
}
p{
    color: white;

}
.background{
    /** Simulationg background-size: cover */
  object-fit: cover;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.video-wrapper{
    /* Telling our absolute positioned video to 
  be relative to this element */
  position: relative;

  /* Will not allow the video to overflow the 
  container */
  overflow: hidden;

  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.planet{
    object-fit: contain;
}

.planet-wrapper{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    object-fit: cover;
}

.main-container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
.container{
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    
}

